/*---------------------------------------------------------------------------------------------------------------------------------geral*/
body
{
    background-color:rgb(45, 24, 65);
}

h1
{
    font-weight:bold;
    margin:20px;
    color:rgb(241, 178, 40);
    text-align:center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h3
{
    font-weight:bold;
    color:rgb(241, 178, 40);
    margin:50px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
footer
{
    color:rgb(218, 218, 218);
    font-family:'Courier New', Courier, monospace;
    text-align:center;
}
/*------------------------------------------------------------------------------------------------------------------cards dos destaques*/
.card
{
    
    color:rgb(218, 218, 218);
    border-radius:2px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card-img-top
{
    display: flex;
  border-radius: 2px;
  max-width: 25em;
  margin-top: 5px;
  margin-bottom: 10px !important;
  margin: auto;
  text-align: center !important;
}
.card-title
{
    font-weight:bolder;
}
.destaques
{
    margin:20px;
}
.bt_maisfilmes
{
    margin:20px 20px 20px 0px;
    
    text-align:right;
}
.btfd
{
    margin-right:40px;
}
/*card destaques*/

.full
{
    background-color:rgba(45, 24, 65, 0.849);
    margin: 0px -15px -10px -15px!important;
}
/*area pesquisa*/
.areaPesquisa
{
    text-align:center;
}
.areaPesquisa input
{
    background-color:rgb(218, 218, 218);
    border-width:0px;
    border-radius:12px;
    padding:5px;
    padding-right:60px;
}
.resultadoPesquisa
{
    margin:20px;
}
/*search movies*/
.searchmovieslink
{
    text-decoration:none;
    color:rgb(218, 218, 218);
    font-family:'Courier New', Courier, monospace;
}
.searchmovieslinka
{
    text-decoration:none;
    color:rgb(218, 218, 218);
    font-family:'Courier New', Courier, monospace;
    margin-left:50px;
}