body{
    margin: 0;
    text-align: center;
    font-family: 'Dongle', sans-serif;
    font-size: 30px;
    color: #40514E;
    width: 100%;
}
.top-container{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
    padding-bottom: 0%;
}

h1{
    margin-top: 0;
    font-family: 'Sacramento', cursive;
    font-size: 90px;
    margin: 50px auto 0;
    color: #66BFBF;
    /* line-height: 2; */
}

.sub-title{
    font-weight: normal;
}

h2{
    font-size: 40px;
    margin-top: 0;
    color: #66BFBF;
    /* font-weight: normal; */
}

h3{
    color: #11999E;
    /* font-weight: normal; */
}

span{
    text-decoration: underline;
}

.intro{
    width: 50%;
    margin: auto;
}

hr{
    border: dotted 6px black;
    border-bottom: none;
    width: 8%;
    margin: 100px auto;
}

.top-cloud{
    position: absolute;
    right: 200px;
    top: 50px;
}

.bottom-cloud{
    position: absolute;
    top: 250px;
    left: 200px;
}

.mountain{
    margin-bottom: 0%;
}

.middle-container{
    background-color: #DED9C4;
}

.itsme-pic{
    width: 200px;
    margin-top: 30px;
}

.coding-pic{
    width: 200px;
    border: solid;
    border-radius: 100%;
    float: left;
    margin-right: 30px;
    margin-top: 100px;
}

.photography-pic{
    width: 200px;
    border:solid;
    border-radius: 100%;
    float: right;
    margin-left: 30px;
    margin-top: 100px;
    
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px;
    text-align: left;
    /* line-height: 2; */
}

.bottom-container{
    background-color: #11999E;
    padding: 30px;
}

.end-text{
    margin: auto;
}

.contact-message{
    width: 40%;
    margin: 40px auto 40px;
}

.btn {
    background: #1D79E1;
    background-image: -webkit-linear-gradient(top, #1D79E1, #5E636C);
    background-image: -moz-linear-gradient(top, #1D79E1, #5E636C);
    background-image: -ms-linear-gradient(top, #1D79E1, #5E636C);
    background-image: -o-linear-gradient(top, #1D79E1, #5E636C);
    background-image: -webkit-gradient(to bottom, #1D79E1, #5E636C);
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    color: #FFFFFF;
    font-family: 'Dongle', sans-serif;
    font-size: 25px;
    padding: 10px;
    font-weight: 900;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin-bottom: 20px;
    width: 150px;
    margin: 100px auto 100px;
 }
 
 .btn:hover {
    border: solid #337FED 1px;
    background: #8769E1;
    background-image: -webkit-linear-gradient(top, #8769E1, #101012);
    background-image: -moz-linear-gradient(top, #8769E1, #101012);
    background-image: -ms-linear-gradient(top, #8769E1, #101012);
    background-image: -o-linear-gradient(top, #8769E1, #101012);
    background-image: -webkit-gradient(to bottom, #8769E1, #101012);
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    text-decoration: none;
 }

 a{
     color: black;
     text-decoration: none;
     padding: 20px;
 }

 a:hover{
     color: white;
 }