// Color system

// stylelint-disable
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$grays: ();
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900,
  ),
  $grays
);

$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #eb5175;
$red: #fd5d93;
$orange: #f06161;
$yellow: #ffc107;
$green: #00f2c3;
$teal: #20c997;
$cyan: #17a2b8;

$colors: ();
$colors: map-merge(
  (
    "blue": $blue,
    "indigo": $indigo,
    "purple": $purple,
    "pink": $pink,
    "red": $red,
    "orange": $orange,
    "yellow": $yellow,
    "green": $green,
    "teal": $teal,
    "cyan": $cyan,
    "white": $white,
    "gray": $gray-600,
    "gray-dark": $gray-800,
  ),
  $colors
);

$primary: $orange;
$secondary: $gray-600;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-800;

$theme-colors: ();
$theme-colors: map-merge(
  (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark,
  ),
  $theme-colors
);

// Fonts

// Font, line-height, and color for body text, headings, and more.
@import url("https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,400,400i,700,700i,900,900i");

// stylelint-disable value-keyword-case
$font-family-sans-serif: "Raleway", sans-serif;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
  "Liberation Mono", "Courier New", monospace;
$font-family-base: $font-family-sans-serif;
// stylelint-enable value-keyword-case

// Pagination
$pagination-padding-y: 0.3rem;
$pagination-padding-x: 0.7rem;
$pagination-padding-y-sm: 0.15rem;
$pagination-padding-x-sm: 0.5rem;
$pagination-padding-y-lg: 0.4rem;
$pagination-padding-x-lg: 1rem;
$pagination-border-color: transparent;
$pagination-color: $gray-800;
$pagination-hover-bg: rgba($primary, 0.3);
$pagination-hover-border-color: transparent;

// Breadcrumbs
$breadcrumb-padding-y: 0.55rem;
$breadcrumb-bg: transparent;
$breadcrumb-font-size: 0.9rem;

$breadcrumb-divider-color: $gray-900;
$breadcrumb-active-color: $gray-700;
$breadcrumb-link-color: $gray-900;
$breadcrumb-divider: quote("·");

// navbar
$navbar-padding-y: 0.8rem;
$navbar-padding-x: 1rem;

$navbar-brand-img-width: 45px;

$navbar-link-font-size: 0.9rem;
$navbar-link-font-weight: bold;
$navbar-nav-link-padding-x: 0.8rem;

$navbar-toggler-padding-y: 0;
$navbar-toggler-padding-x: 0;
$navbar-toggler-border-radius: 0;
$navbar-toggler-height: 30px;
$navbar-toggler-width: 35px;

$toggler-icon-height: 2px;
$toggler-icon-top-width: 30px;
$toggler-icon-middle-width: 25px;
$toggler-icon-bottom-width: 30px;
$toggler-icon-spacer-y: 10px;

$navbar-dark-color: rgba($white, 0.8);
$navbar-dark-hover-color: rgba($white, 0.95);

$navbar-light-color: rgba($black, 0.7);
$navbar-light-hover-color: rgba($black, 0.95);

// inputs
$input-bg: rgba($black, 0.01);
$input-disabled-bg: $gray-200;

// buttons
$btn-border-radius: 0.1rem;
$btn-border-radius-lg: 0.3rem;
$btn-border-radius-sm: 0.05rem;

// Progress bars
$progress-height: 0.3rem;

// cards
$card-border-radius: 0;

// links
$link-hover-decoration: none;
