/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*===== VARIABLES CSS =====*/
:root{
    --header-height: 3rem;

    --hue-color: 250;

    --first-color: hsl(var(--hue-color), 69%, 61%);    /*hsl(hue,saturation,lightness)*/
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);            
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #fff;

    --body-font: 'Poppins', sans-serif;

    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    
    --font-mediun: 500;
    --font-semi-bold: 600;

    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

@media screen and (min-width: 968px) {
    :root{
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*=========== BASE ============= */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,h2,h3,h4{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}

.section{
    padding: 2rem 0 4rem;
}
.section__title{
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-3);
}
.section__title{
    text-align: center;
}

/*===== Layout ===== */

.container{
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}
.grid{
    display: grid;
    gap: 1.5rem;
}

.header{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}

/*====== NAV BAR ====== */

.nav{
    max-width: 968px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo,
.nav__toggle{
    color: var(--title-color);
    font-weight: var(--font-mediun);
}
.nav__toggle:hover{
    color: var(--first-color);
}
.nav__toggle{
    font-size: 1.1rem;
    cursor: pointer;
}
.nav__toggle:hover{
    color: var(--first-color);
}

@media screen and (max-width: 767px){
    .nav__menu{
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .3s;
    }
}
.nav__list{
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.nav__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-mediun);
}
.nav__link:hover{
    color: var(--first-color);
}
.nav__icon{
    font-size: 1.2rem;
}
.nav__close{
    position: absolute;
    right: 1.3rem;
    bottom: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--first-color);
}
.nav__close:hover{
    color: var(--first-color-alt);
}

.show-menu{
    bottom: 0;
}

/* ==== Home ==== */

.home__container{
    gap: 1rem;
}
.home__content{
    grid-template-columns: .5fr 3fr;
    padding-top: 3.5rem;
    align-items: center;
}
.home__social{
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}
.home__social-icon{
    font-size: 1.25rem;
    color: var(--first-color);
}
.home__social-icon:hover{
    color: var(--first-color-alt);
}
.home__blob{
    width: 200px;
    fill: var(--first-color);
}
.home__blob-img{
    width: 170px;
}
.home__data{
    grid-column: 1/3;
}
.home__title{
    font-size: var(--big-font-size);
}
.home__description{
    margin-bottom: var(--mb-2);
}
/*==== Buttons ====*/
.button{
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: var(--font-mediun);
}
.button:hover{
    background-color: var(--first-color-alt);
}
.button__icon{
    font-size: 1.25rem;
    margin-left: .5rem;
    transition: .3s;
}
.button--flex{
    display: inline-flex;
    align-items: center;
}

/*==== About ====*/
.about__img{
    width: 200px;
    
    border-radius: .5rem;
    justify-self: center;
    align-self: center;
}
.about__description{
    text-align: center;
    margin-bottom: var(--mb-2-5);
}
.about__buttons{
    display: flex;
    justify-content: center;
}
/*==== Skills ====*/

.skills__container{
    row-gap: 0;
}
.skills__header{
    display: flex;
    align-items: center;
    margin-bottom: var(--mb-2-5);
    cursor: pointer;
}
.skills__icon,
.skills__arrow{
    font-size: 2rem;
    color: var(--first-color);
}
.skills__icon{
    margin-right: var(--mb-0-75);
}
.skills__title{
    font-size: var(--h3-font-size);
}
.skills__arrow{
    margin-left: auto;
    transition: .5s;
}
.skills__titles{
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--mb-0-5);
}
.skills__name{
    font-size: var(--normal-font-size);
    font-weight: var(--font-mediun);
}
.skills__bar,
.skills__percentage{
    height: 5px;
    border-radius: .25rem;
}
.skills__bar{
    background-color: var(--first-color-lighter);
}
.skills__percentage{
    display: block;
    background-color: var(--first-color);
}
.skills__java{
    width: 90%;
}
.skills__kotlin{
    width: 50%;
}
.skills__roomdb{
    width: 50%;
}
.skills__firebase{
    width: 75%;
}
.skills__jetpack{
    width: 40%;
} 
.skills__html{
    width: 85%;
}
.skills__css{
    width: 70%;
}
.skills__js{
    width: 30%;
}
.skills__bootstrap{
    width: 10%;
}
.skills__react{
    width: 0%;
}
.skills__git{
    width: 85%;
}
.skills__github{
    width: 90%;
}
.skills__android{
    width: 85%;
}
.skills__vscode{
    width: 85%;
}
.skills__writing{
    width: 80%;
}
.skills__designing{
    width: 80%;
}
.skills__problemsolve{
    width: 85%;
}
.skills__close .skills__list{
    height: 0;
    overflow: hidden;
}
.skills__open .skills__arrow{
    transform: rotate(-180deg);
}
/* QUALIFICATION */
.section_title{
    text-align: center;
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-1);
}
.qualification_tabs {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2);
}
  
.qualification_button {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    color: var(--first-color);
    cursor: pointer;
}
  
.qualification_button:hover {
    color: var(--first-color);
}
  
.qualification_icon {
    font-size: 1.8rem;
    margin-right: var(--mb-0-25);
}
  
.qualification_data {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
}
  
.qualification_title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}
  
.qualification_subtitle {
    display: inline-block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-1);
}
  
.qualification_calendar {
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
}
  
.qualification_circle {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--first-color);
    border-radius: 50%;
}
  
.qualification_line {
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--first-color);
    transform: translate(6px, -7px);
}
  
.qualification-content {
    display: block;
}
  
.qualification-inactive {
    display: none;
}
/* PORTFOLIO  */
.portfolio__container{
    overflow: initial;
}
  
.portfolio__content{
    padding: 0 2.5rem;
}
  
.portfolio__img{
    width: 256px;
    border-radius: 0.5rem;
    justify-self: center;
}
  
.portfolio__title{
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-5);
}
  
.portfolio__description{
    margin-bottom: var(--mb-0-75);
}
  
.portfolio__button:hover .button__icon{
    transform: translateX(.25rem);
}
  
.swiper-button-prev::after,
.swiper-button-next::after{
    content: "";
}
  
.swiper-portfolio-icon{
    font-size: 2rem;
    color: var(--first-color);
}
  
.swiper-button-prev{
    left: -.5rem;
}
  
.swiper-button-next{
    right: -0.5rem;
}
  
.swiper-container-horizontal > .swiper-pagination-bullets{
    bottom: -2.5rem;
}
  
.swiper-pagination-bullet-active{
    background-color: var(--first-color);
}
  
.swiper-button-prev,
.swiper-button-next,
.swiper-pagination-bullet{
    outline: none;
}
/* FOOTER  */
.footer {
    padding-top: 2rem;
}
  
  .footer_container {
    row-gap: 3.5rem;
}
  
.footer_bg {
    background-color: var(--first-color-second);
    padding: 2rem 0 3rem;
}
  
.footer_title {
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-0-25);
}
  
.footer_subtitle {
    font-size: var(--small-font-size);
}
  
.footer_links {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}
  
.footer_title,
.footer_subtitle,
.footer_link,
.footer_social {
    color: #fff;
}
  
.footer_link:hover {
    color: var(--first-color-lighter);
}
  
.footer_social {
    font-size: 1.25rem;
    margin-right: var(--mb-1-5);
}
  
.footer_social:hover {
    color: var(--first-color-lighter);
}
  
.footer_copy {
    font-size: var(--smaller-font-size);
    text-align: center;
    color: var(--text-color-light);
    margin-top: var(--mb-3);
}

/* background header */
.scroll-header{
    box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
}

/* MEDIA QUERIES */
/* For small devices */
@media screen and (max-width: 350px) {
    .container {
      margin-left: var(--mb-1);
      margin-right: var(--mb-1);
    }
  
    .nav__menu {
      padding: 2rem 0.25rem 4rem;
    }
  
    .nav__list {
      column-gap: 0;
    }
  
    .home__content {
      grid-template-columns: 0.25fr 3fr;
    }
  
    .home__blob {
      width: 180px;
    }
  
    .skills__title {
      font-size: var(--normal-font-size);
    }
  
    .qualification__data {
      gap: 0.5rem;
    }
}
/* For medium devices */
@media screen and (min-width: 568px) {

    .home__content{
      grid-template-columns: max-content 1fr 1fr;
    }
  
    .home__data{
      grid-column: initial;
    }
  
    .home__image{
      order: 1;
      justify-self: center;
    }
  
    .about__container,
    .skills__container,
    .footer__container{
      grid-template-columns: repeat(2, 1fr);
    }
  
    .qualification__sections{
      display: grid;
      grid-template-columns: 0.6fr;
      justify-content: center;
    }
}
@media screen and (min-width: 768px){
    .container{
        margin-left: auto;
        margin-right: auto;
    }
    body{
        margin: 0;
    }
    .section{
        padding: 6rem 0 2rem;
    }
    .section__subtitle{
        margin-bottom: 4rem;
    }
    .header{
        top: 0;
        bottom: initial;
    }
    .header,
    .main,
    .footer__container{
        padding: 0 1rem;
    }
    .nav{
        height: calc(var(--header-height) + 1.5rem);
        column-gap: 1rem;
    }
    .nav__icon,
    .nav__close,
    .nav__toggle{
        display: none;
    }
    .nav__list{
        display: flex;
        column-gap: 2rem;
    }
    .nav__menu{
        margin-left: auto;
    }
    .home__container{
        row-gap: 5rem;
    }
    .home__content{
        padding-top: 5.5rem;
        column-gap: 2rem;
    }
    .home__blob{
        width: 270px;
    }
    .about__container{
        column-gap: 5rem;
    }
    .about__img{
        width: 350px;
    }
    .about__description{
        text-align: initial;
    }
    .about__buttons{
        justify-content: initial;
    }
    .qualification_tabs{
        justify-content: center;
    }
    .qualification_button{
        margin: 0 var(--mb-1);
    }
    .qualification_sections{
        grid-template-columns: .5fr;
    }
    .footer__container{
        grid-template-columns: repeat(3,1fr);
    }
    .footer_bg{
        padding: 3rem 0 3.5rem;
    }
    .footer_social{
        justify-self: flex-end;
    }
}

@media screen and (min-width: 1024px) {
    .header,
    .main,
    .footer__container{
        padding: 0;
    }

    .home__blob{
        width: 320px;
    }
    .home__social{
        transform: translateX(-6rem);
    }
}
