@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  overflow-x: hidden;
  background: linear-gradient(#2b1055, #7597de);
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

header .logo {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  list-style: none;
  margin-left: 20px;
}

header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  border-radius: 20px;
}

header ul li a:hover,
header ul li a.active {
  background: #fff;
  color: #2b1055;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

section::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #1c0522, transparent);
  z-index: 1000;
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

section img#moon {
  mix-blend-mode: screen;
}

section img#mountains_front {
  z-index: 10;
}

#text {
  position: absolute;
  color: #fff;
  white-space: nowrap;
  font-size: 7.5vw;
  z-index: 9;
  right: -350px;
}

#btn {
  text-decoration: none;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 40px;
  background: #fff;
  color: #2b1055;
  font-size: 1.5em;
  z-index: 9;
  transform: translateY(100px);
}

.sec {
  position: relative;
  padding: 100px;
  background: #1c0522;
}

.sec h2 {
  font-size: 3.5em;
  margin-bottom: 10px;
  color: #fff;
}

.sec p {
  font-size: 1.2em;
  color: #fff;
}

#heading {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-top: 80px;
  white-space: nowrap;
  font-size: 6vw;
  z-index: 9;
}

#lead {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  color: #fff;
  white-space: nowrap;
  font-size: 3vw;
  z-index: 9;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  margin-top: -17rem;
}

.social-button {
  background: hsl(0 0% 10%);
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
  padding: 1rem;
  border-radius: 80vw;
  display: flex;
  align-items: center;
  margin: 2rem;
  color: white;
}

.facebook {
  background: #3b5998;
}

.twitter {
  background: #1da1f2;
}

.github {
  background: #000;
}

.social-button:hover {
  cursor: pointer;
}

.social-button span {
  display: inline-block;
  max-width: 0px;
  overflow: hidden;
  transition: 350ms ease;
}

.social-button:hover span {
  max-width: 100px;
  margin-left: 0.5rem;
}

.waves {
  position: absolute;
  width: 100%;
  height: 15vh;
  min-height: 100px;
  max-height: 150px;
  bottom: 0;
  left: 0;
  margin-bottom: 0;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

/*Shrinking for mobile*/

@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
}

#projects {
  overflow: auto;
  display: flex;
  flex-wrap: nowrap;
}

#projects::-webkit-scrollbar {
  display: none;
}

#projects .card {
  display: inline-block;
}

.card {
  margin: 30px 50px;
  width: 225px;
  height: 225px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  justify-content: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: light;
  font-size: 17px;
  margin-top: -60px;
  height: 20px;
}

.card .card_title a {
  text-decoration: none;
  color: #000;
}

.card .card_title a:hover {
  text-decoration: none;
  font-weight: bold;
  transition: 0.4s;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.container {
  display: flex;
}
.container p {
  font-size: 3rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
}
.container p span.typed-text {
  font-weight: normal;
  color: #dd7732;
}
.container p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  height: 60px;
  animation: blink 1s infinite;
}
.container p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0% {
    background-color: #ccc;
  }
  49% {
    background-color: #ccc;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}

.about-me span {
  color: #fff;
  display: inline-block;
  padding: 28px 30px;
  margin-left: 40%;
  font-size: 45px;
  font-weight: 400;
}

.timeline {
  position: relative;
  width: 860px;
  margin: 0px auto;
  padding: 20px;
  list-style-type: none;
}
@media (max-width: 860px) {
  .timeline {
    width: 100%;
    padding: 4em 0 1em 0;
  }
}
.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: #505050;
  z-index: 5;
}
.timeline li {
  padding: 1em 0;
}
@media (max-width: 860px) {
  .timeline li {
    padding: 2em 0;
  }
}
.timeline li::after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.direction-l {
  position: relative;
  width: 400px;
  float: left;
  text-align: right;
}
@media (max-width: 860px) {
  .direction-l {
    float: none;
    width: 100%;
    text-align: center;
  }
}
.direction-l .flag {
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
  font-family: 'Poppins', sans-serif;
}
.direction-l .flag:after {
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: #f8f8f8;
  border-width: 8px;
  pointer-events: none;
}
@media (max-width: 860px) {
  .direction-l .flag:after {
    content: '';
    position: absolute;
    left: 50%;
    top: -8px;
    height: 0;
    width: 0;
    margin-left: -8px;
    border: solid transparent;
    border-bottom-color: white;
    border-width: 8px;
    pointer-events: none;
  }
}
.direction-l .time-wrapper {
  float: left;
}
@media (max-width: 860px) {
  .direction-l .time-wrapper {
    float: none;
  }
}
.direction-r {
  position: relative;
  width: 400px;
  float: right;
}
@media (max-width: 860px) {
  .direction-r {
    float: none;
    width: 100%;
    text-align: center;
  }
}
.direction-r .flag {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}
.direction-r .flag:after {
  content: '';
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: #f8f8f8;
  border-width: 8px;
  pointer-events: none;
}
@media (max-width: 860px) {
  .direction-r .flag:after {
    content: '';
    position: absolute;
    left: 50%;
    top: -8px;
    height: 0;
    width: 0;
    margin-left: -8px;
    border: solid transparent;
    border-bottom-color: white;
    border-width: 8px;
    pointer-events: none;
  }
}
.direction-r .flag:before {
  left: -40px;
}
.direction-r .time-wrapper {
  float: right;
}
@media (max-width: 860px) {
  .direction-r .time-wrapper {
    float: none;
  }
}
.flag-wrapper {
  position: relative;
  display: inline-block;
  text-align: center;
}
@media (max-width: 860px) {
  .flag-wrapper {
    text-align: center;
  }
}
.flag-wrapper .flag {
  position: relative;
  display: inline;
  background: #f8f8f8;
  padding: 6px 10px;
  border-radius: 5px;
  font-weight: 600;
  text-align: left;
}
@media (max-width: 860px) {
  .flag-wrapper .flag {
    background: white;
    z-index: 15;
  }
}
.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -40px;
  content: ' ';
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: #fff;
  border-radius: 10px;
  border: 4px solid #58b96b;
  z-index: 10;
}
@media (max-width: 860px) {
  .direction-l .flag:before,
  .direction-r .flag:before {
    position: absolute;
    top: -30px;
    left: 50%;
    content: ' ';
    display: block;
    margin-left: -10px;
  }
}
.time-wrapper {
  display: inline;
  line-height: 1em;
  font-size: 0.66666em;
  color: #58b96b;
  vertical-align: middle;
}
@media (max-width: 860px) {
  .time-wrapper {
    display: block;
    position: relative;
    margin: 4px 0 0 0;
    z-index: 14;
  }
}
.time-wrapper .time {
  display: inline-block;
  padding: 4px 6px;
  background: #f8f8f8;
}
.desc {
  margin: 1em 0.75em 0 0;
  font-size: 0.9em;
  /* font-style: italic; */
  line-height: 1.5em;
  color: #fff;
}
.desc a {
  color: #58b96b;
  text-decoration: none;
}
.desc a:hover {
  text-decoration: underline;
}
@media (max-width: 860px) {
  .desc {
    position: relative;
    margin: 1em 1em 0 1em;
    padding: 1em;
    background: #1c0522;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    z-index: 15;
  }
}

.skills-bar-container {
  position: relative;
  width: 40%;
  min-width: 300px;
  /* top: 90%; */
  /* left: 20%; */
  /* -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
  list-style: none;
}
.skills-bar-container li {
  position: relative;
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}
.skills-bar-container li .progressbar-title {
  color: #fff;
}
.skills-bar-container li .progressbar-title h3 {
  display: inline-block;
}
.skills-bar-container li .progressbar-title .percent {
  position: absolute;
  right: 5px;
}
.skills-bar-container li .bar-container {
  background: #555;
  position: relative;
  width: 100%;
  height: 5px;
  margin-top: 5px;
  display: block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
.skills-bar-container li .bar-container .progressbar {
  position: absolute;
  width: 0%;
  height: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.skills-bar-container li .bar-container #progress-html {
  -webkit-animation-name: progress-html;
  animation-name: progress-html;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
.skills-bar-container li .bar-container #progress-css {
  -webkit-animation-name: progress-css;
  animation-name: progress-css;
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}
.skills-bar-container li .bar-container #progress-javascript {
  -webkit-animation-name: progress-javascript;
  animation-name: progress-javascript;
  -webkit-animation-delay: 2.1s;
  animation-delay: 2.1s;
}
.skills-bar-container li .bar-container #progress-php {
  -webkit-animation-name: progress-php;
  animation-name: progress-php;
  -webkit-animation-delay: 2.8s;
  animation-delay: 2.8s;
}
.skills-bar-container li .bar-container #progress-angular {
  -webkit-animation-name: progress-angular;
  animation-name: progress-angular;
  -webkit-animation-delay: 3.5s;
  animation-delay: 3.5s;
}
.progressred {
  background-color: #c0392b;
}
.progressblue {
  background-color: #1199ff;
}
.progresspurple {
  background-color: #9b59b6;
}
.progressorange {
  background-color: #ffa500;
}
.progressgreen {
  background-color: #27ae60;
}
@-webkit-keyframes progress-html {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes progress-css {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
@-webkit-keyframes progress-javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
@-webkit-keyframes progress-php {
  0% {
    width: 0%;
  }
  100% {
    width: 55%;
  }
}
@-webkit-keyframes progress-angular {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}
@-moz-keyframes progress-html {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-moz-keyframes progress-css {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
@-moz-keyframes progress-javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
@-moz-keyframes progress-php {
  0% {
    width: 0%;
  }
  100% {
    width: 55%;
  }
}
@-moz-keyframes progress-angular {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}
@keyframes progress-html {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes progress-css {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
@keyframes progress-javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
@keyframes progress-php {
  0% {
    width: 0%;
  }
  100% {
    width: 55%;
  }
}
@keyframes progress-angular {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}

.footer {
  bottom: 0;
  color: #fff;
  left: 50%;
  justify-content: center;
  align-items: center;
}
