.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--background-color);
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav ul li {
    margin: 0 10px;
}

.nav ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 18px;
}
.templates-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.template-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
}

.template-item {
    flex: 1 0 18%; /* This will create 5 items per row */
    margin: 10px;
    box-shadow: 0 0 35px rgba(27, 8, 230, 0.927);
    padding: 20px;
    text-align: center;
    background-color: #dec824e2;
    font-size: 35px;
}

.template-item img {
    width: 100%;
    height: auto;
}

.template-item a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #1c0dec;
}

.template-item p {
    margin-top: 10px;
    color: blue;
}