.text-center{
    text-align: center;
}
.row{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: auto;
    
}
.purple{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(137, 38, 231);
}

.button{
    margin: 0 6px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 60px
}
.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row{
    margin: 6px 0;
}
