body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color:#40514E ;
}

h1 {
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    margin-top: 0px;
    padding-bottom: 10px;
    color: #66BFBF;
    font-weight: normal;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color:#11999E;
}

a{
    color:#11999E;
}

p{
    line-height: 2;
}
hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width:4%;
  margin: 100px auto;
}
.top {
    background-color: #E4F9F5;
    margin: 0px;
    padding: 100px;
    position: relative;
    

}


.middle {
    background-color: blueviolet;
    width: 200px;
    height: 200px;
}

.bottom-container{
    background-color: #66BFBF;
    margin: 0;
    padding: 30px;
}

.pro {
    text-decoration: underline;
}

.bottom-cloud {
    position: absolute;
    top: 450px;
    left:250px
}

.top-cloud {
    position: absolute;
    right: 270px;
    top: 50px;
}

.profile{
    margin: 100px 0;

}



.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;  
    text-align: left;
   
}

.skill-1{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.skill-2{
    width: 25%;
    float: right;
    margin-left: 30px;
}





.copywrite{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}


.footer-link{
    color: #11999E;
    margin: 10px 20px;
    text-decoration: none;
    

a:hover{
    color: #EAF6F6;
}




.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    line-height: 4;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

  