*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #1e1e1e;
    color: #a0a0a0;
    font-family: sans-serif;
    line-height: 1.6;
}
.main-container{
    display: grid;
    max-width: 1200px;
    grid-template-columns: 350px 1fr;
    gap: 40px;
    padding-top: 40px;
    margin: auto;

}
.sidebar{
    position: sticky;
    height: 90vh;
    background-color: #2a2a2a;
    border: 1px solid #3a3a3a;
    border-radius: 16px;
    padding: 40px;
    position: sticky;
    top: 40px;
}
.main-content{
    background-color: #2a2a2a;
     border: 1px solid #3a3a3a;
    border-radius: 16px;
    padding: 40px;
}
.profile{
    text-align: center;
}
.profile img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 1px solid #3a3a3a;
}
.profile h2{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 20px;
    color: #e0e0e0;
}
.profile p{
    background-color: #1e1e1e;
    padding: 5px 15px;
    color: #ffbf00;
    border: 1px solid #3a3a3a;
    font-size: 0.8rem;
    border-radius: 8px;
    display: inline-block;
    margin-top: 10px;

}
.contact{
    margin-top: 30px;
    border-top: 2px solid #3a3a3a;
    padding-top: 20px;
}
.label{
    font-weight: 500;
    font-size: 0.8rem;
    color: #a0a0a0;
}
.value{
    color: #e0e0e0;
    text-decoration: none;
}
.email{
    margin-bottom: 10px;
}
.phone{
        margin-bottom: 10px;

}
.location{
        margin-bottom: 10px;

}
.social-media{
    margin-top: 30px;
    border-top: 2px solid #3a3a3a;
    padding-top: 20px;
    text-align: center;
}
.social-media img{
    height: 24px;
    width: 24px;
    margin-left: 5px;
    filter: grayscale(1) invert(0.7);
    transition: filter 0,3s ease;
    
}
.social-media :hover{
    filter: grayscale(0) invert(0);
}
#navigation{
    
    border-bottom: 2px solid #3a3a3a;
    margin-bottom: 20px;
    padding-bottom: 20px;

}
nav{
    display: flex;
    justify-content:flex-end;
    gap: 30px;
}
nav a{
    text-decoration: none;
    color: #a0a0a0;
    font-weight: 500;
    transition: color 0.3s ease;
}
.active{
    color: #ffbf00;
}
nav a:hover{
    color: #ffbf00;
}
.heading{
    color: #e0e0e0;
    font-size: 2rem;
    margin-bottom: 15px;
}

.line{
    width: 60px;
    height: 5px;
    background-color: #ffbf00;
    margin-bottom: 15px;
}
.content{
    text-align: justify;
    color: #a0a0a0;
}
#about{
    margin-bottom: 20px;
}
.grid-container{
    display: grid;
    grid-template-columns:repeat(auto-fit , minmax(120px,1fr));
    gap: 30px;
}
.item{
    padding: 30px;
    border-radius: 10px;
    border: 2px solid #3a3a3a;
    background-color: #1e1e1e;
    text-align: center;
    margin-top: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.item img{
    height: 48px;
    width: 48px;
    filter: invert(75%) sepia(50%) saturate(1000%) hue-rotate(350deg) brightness(110%) contrast(101%);

}
.item h3{
    font-size: 1rem;
    font-weight: 500;
}
.item:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}
#education{
margin-top:30px;
}
.edtech{
    position: relative;
    margin-top: 20px;
}

.year{
    font-size: 0.9rem;
    color: #a0a0a0;
    margin-bottom: 5px;
}

.intermediate{
    color: #e0e0e0;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.college{
    font-style: italic;
    color: #a0a0a0;
    margin-bottom: 10px;
}

.work{
    color: #a0a0a0;
}

.edfirst, .edsecond{
    margin-bottom: 30px;
    padding-left: 25px;
    position: relative;
}
.goal{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 3px solid #ffbf00;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 5;

}
.liner{
    position:absolute;
    width: 2px;
    top: 0px;
    bottom: 0px;
    border: 2px solid #3a3a3a;
    left: 5px;
}
.project-container{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}
.project{
    background-color: #1e1e1e;
    border-radius: 12px;
    border: 1px solid #3a3a3a;
    overflow: hidden;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}
.project:hover{
    transform: translateY(-10px);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}
.project img{
    height: 180px;
    width: 100%;
    object-fit: cover;
}
.card{
    padding: 20px;
}

.card h3{
    color: #e0e0e0;
    margin-bottom: 10px;
}

.card p{
    color: #a0a0a0;
    line-height: 1.6;
    margin-bottom: 15px;
}

.card span{
    background-color: rgba(255, 191, 0, 0.1);
    color: #FFBF00;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 0.75rem;
    margin-right: 5px;
}

@media screen and (max-width:1200px) {
    .main-container{
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .sidebar{
        position: static;
        height: auto;
    }
}

@media screen and (max-width:750px) {
    .project-container{
        grid-template-columns: 1fr;
    }

    #navigation nav {
        /* Adjust nav for smaller screens */
        justify-content: center;
        flex-wrap: wrap;
    }

    .sidebar{
        display: flex;
        justify-content: center;
        gap: 40px;
    }
}