/* html {
  scroll-snap-type: y mandatory;
} */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: sans-serif;
  font-size: 62.5%;
}

@media (max-width: 112.5em) {
  html {
    font-size: 75%;
  }
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 37.5em) {
  html {
    font-size: 30%;
  }
}
body {
  overflow: hidden;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-family: "Quicksand", sans-serif;
}

::selection {
}
@keyframes upDown {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/* transform: translateX(0);

transform: translateX(20px); */
