.ProjectPage {
  min-height: 100vh;
  background-color: #1c1c1c;
  color: white;
}

.ProjectPage-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.ProjectPage-left {
  position: fixed;
  left: 6em;
  top: 5em;
}

.ProjectPage-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 2em;
  margin-bottom: 2em;
}

.ProjectPage-card {
  background-color: white;
  color: #1c1c1c;
  padding: 1rem;
  border-radius: 20px;
  transform: translateX(20em);
}

.ProjectPage-title {
  font-size: 3rem;
  font-family: "Caveat Brush";
}

.ProjectPage-description {
  max-width: 15em;
  font-size: 1.5rem;
  font-family: "Caveat";
  font-weight: bold;
  margin-bottom: 1em;
}

.ProjectPage-img {
  width: 20em;
  height: 10em;
  object-fit: contain;
}

.ProjectPage-explore {
  margin-bottom: 1em;
}

.ProjectPage-button {
  text-decoration: none;
  background: #1c1c1c;
  color: white;
  border-radius: 30px;
  padding: 0.5rem 2rem;
  font-size: 1.5rem;
  font-family: "Caveat Brush";
  font-weight: bold;
  transition: all 0.5s;
}

.ProjectPage-button:hover {
  background: #f5aa1a;
  color: #1c1c1c;
}

@media screen and (max-width: 1000px) {
  .ProjectPage-left {
    position: initial;
  }

  .ProjectPage-container {
    flex-direction: column;
  }

  .ProjectPage-card {
    transform: translateX(0em);
  }

  .ProjectPage-profile-pic {
    width: 90%;
    margin-bottom: 2em;
  }

  .ProjectPage-img {
    width: 15em;
    height: 10em;
    object-fit: contain;
  }

  .ProjectPage-description {
    max-width: 12em;
    margin-top: 0.8em;
    margin-bottom: 0.8ems;
  }
}
