:root {
    --primary-color: #38d7b2;
    --secondary-color: #2c2c2c;
    --text-color: white;
    --background-color: #1a1a1a;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--secondary-color);
}

.navbar a {
    text-decoration: none;
    color: var(--primary-color);
    margin: 0 10px;
    padding: 5px 10px;
}
.navbar a:hover {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.home-section, .about-section {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.home-section .description, .about-section .about-description {
    flex: 1;
    font-size: 35px;
}

.home-section .image, .about-section .about-image {
    flex: 1;
}

.description span, .about-description span {
    color: var(--primary-color);
}

.template-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.template-description {
    margin-bottom: 20px;
    font-size:  30px;
}

.view-templates {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    padding: 20px 20px;
    cursor: pointer;
}
.view-templates:hover {
    background-color: var(--secondary-color);
}

.contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.contct-description{
    flex: 1;
    font-size: 35px;
    align-items: first baseline;
    justify-content: flex;
}
.contact-social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.contact-social a {
    color: var(--text-color);
    margin: 0 10px;
}

.contact-social i {
    font-size: 24px;
}