:root {
    --background-color: #333;
    --text-color: #f8f9fa;
    --primary-color: #00bfff;
    --glow-color: #00ff00;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar a {
    color: var(--text-color);
    margin-right: 20px; /* Adjust this value to increase or decrease the space */
}

.glow {
    box-shadow: 0 0 10px var(--glow-color), 0 0 20px var(--glow-color), 0 0 30px var(--glow-color), 0 0 40px var(--glow-color);
}

.home-section, .about-section, .template-section, .contact-section  {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.home-card, .about-card, .template-card, .contact-card {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.description, .about-description, .template-description, .contact-description {
    text-align: center;
    font-size: 45px;
}

.description p, .about-description p, .template-description p, .contact-description p {
    margin: 10px 0;
}

.description span {
    font-weight: bold;
    color: var(--primary-color);
}

.view-templates {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--text-color);
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-social a {
    color: var(--text-color);
    margin-right: 10px;
}
.contact-social-card {
    padding: 20px;
    background-color: var(--background-color);
    color: var(--text-color);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(30, 220, 17, 0.978); /* This will make the card glow */
}

.contact-social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.contact-social a {
    color: var(--text-color);
    margin: 0 10px;
}

.contact-social i {
    font-size: 24px;
}