:root {
	--primary-color: #000000;
	--secondary-color: #ffffff;
	--tertiary-color: #47e4bb;
	--primary-font: 'Josefin Sans', sans-serif;
}

body {
	background-color: #000000;
	overflow: hidden !important;
}

.nav__bar--image {
	margin: 2rem 1rem 0rem 2rem;
	width: 4rem;
	height: 4rem;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.main__div {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.main__para {
	margin: auto;
	text-align: center;
	font-size: 2rem;
	padding: 2rem 0rem;
}

.link__para {
	display: flex;
	align-items: center;
	justify-content: center;
}

.email__button {
	width: fit-content;
	padding: 1rem 3rem;
	background-color: var(--tertiary-color);
	text-decoration: none;
	font-weight: 500;
	color: var(--primary-color);
	letter-spacing: 2px;
}

.links {
	display: flex;
	width: fit-content;
	margin: auto;
	margin-top: auto;
	margin-bottom: 0;
	border-top: 0.2rem solid var(--primary-color);
	padding: 1rem 2rem;
}

.links a {
	color: var(--primary-color);
	font-size: 2rem;
	margin: 0rem 1.5rem;
	padding: 0.2rem;
}

.links a:hover {
	color: var(--secondary-color);
	background-color: var(--primary-color);
}

.waves {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50%;
	z-index: -1;
}

.wave {
	height: 100%;
	width: 100%;
	background: url('./../img/wave.png');
	background-size: 100% 100%;
	position: absolute;
}

.wave1 {
	animation: animate 30s linear infinite;
	z-index: 1000;
	opacity: 1;
	animation-delay: 0s;
	bottom: 0;
}

.wave2 {
	animation: animate2 15s linear infinite;
	z-index: 999;
	opacity: 0.5;
	animation-delay: -5s;
	bottom: 10px;
}

.wave3 {
	animation: animate 30s linear infinite;
	z-index: 998;
	opacity: 0.2;
	animation-delay: 2s;
	bottom: 15px;
}

.wave4 {
	animation: animate2 5s linear infinite;
	z-index: 997;
	opacity: 0.7;
	animation-delay: -5s;
	bottom: 10px;
}

@keyframes animate {
	0% {
		background-position-x: 0;
	}
	100% {
		background-position-x: 100vw;
	}
}

@keyframes animate2 {
	0% {
		background-position-x: 0;
	}
	100% {
		background-position-x: -100vw;
	}
}

footer a {
	color: var(--primary-color);
}

footer a:hover {
	color: var(--primary-color);
}

.credits {
	color: var(--primary-color);
}

@media (max-width: 768px) {
	.nav__bar--image {
		display: none;
	}
	.waves {
		height: 40%;
	}
	.links {
		padding: 1rem 0rem;
	}
	.links a {
		margin: 0rem 0.75rem;
	}
}
