* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    background-color: #020105;
    background-image: url(https://wallpaperaccess.com/full/3296133.png);
  }
  .card {
    width: 400px;
    height: 400px;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    box-shadow: 0 35px 65px rgba(6, 34, 70, 0.6);
    overflow: hidden;
  }
  .card img {
    width: 100%;
    transition: 0.5s;
  }
  h3 {
    background-color: #8758FF;
    width: 50%;
    position: absolute;
    bottom: 80px;
    right: -60%;
    padding: 10px 0;
    color: #ffffff;
    text-align: center;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 600;
    transform: skew(-5deg);
    transition: 0.3s;
  }
  h5 {
    background-color: #ffffff;
    width: 70%;
    padding: 12px 0;
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.5px;
    position: absolute;
    right: -85%;
    bottom: 37px;
    transform: skew(-5deg);
    transition: 0.3s;
  }
  .card:hover h3,
  .card:hover h5 {
    right: -2%;
  }
  .card:hover img {
    transform: scale(1.15);
    filter: contrast(120%);
  }

  h1 {
    background-color: #ffffff;
    color: rgb(253, 59, 0);
    width: 100%;
    padding: 12px 0;
    text-align: center;
    font-size: 30px;
    letter-spacing: 0.5px;
    position: absolute;
  }

  
  

