@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    font-family: Proxima Nova, system-ui, sans-serif;
  }
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* #root{
  height: 100vh;
  background-image: url('../images/tree.png');
  background-repeat: no-repeat;
  background-size: cover;
} */