body{
  padding: 0px;
  margin: 0px;
  background-color: rgb(30, 30, 30);
  color: rgb(191, 191, 191);
  font-family: Consolas, Arial, Helvetica, sans-serif;
}

.container{
  height: 100vh;
  width: 100vw;
}

.console-screen{
  height:calc( 100vh - 1.4rem - 3rem);
  padding: 0.7rem;
  overflow-y: auto;
}

.console-input{
  height: 2.5rem;
  display: flex;
  align-items: center;
}

.line{
  width: 100%;
  display: block;
  padding: 5px 0 0 0;
}

.text-input{
  width: calc(100% - 2.5rem);
  height: 2.5rem;
  padding: 0;
  border: none;
  font-size: 1.2rem;
  color: rgb(191, 191, 191);
  background-color: transparent;
}

.text-input:focus{
  outline: none;
}


.prefix{
  width: 1.4rem;
  text-align: center;
  font-size: 1.4rem;
}
