/** Reset Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/** Global Styles */
body {
  color: #2C3E50;
  margin: 0;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

h1 {
  font-size: 2.5rem;
  margin: 50px auto 20px auto;
  font-family: 'Verdana', sans-serif;
  color: #3498DB; /* Blue color for a professional look */
}

hr {
  border: solid #3498DB 2px; /* Solid line for a cleaner appearance */
  border-bottom: none;
  width: 4%;
  margin: 30px auto;
}

p {
  line-height: 1.5;
}

h2 {
  font-family: 'Arial', sans-serif;
  font-size: 1.8rem;
  color: #3498DB;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Arial', sans-serif;
  color: #2980B9;
}

a {
  color: #2980B9;
  font-family: 'Arial', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #3498DB;
}

/** Theme-specific Styles */
.top-container {
  background-color: #ECF0F1; /* Light background for a clean and professional look */
  margin-bottom: 50px;
}

.skill-row {
  width: 60%; /* Adjusted width for better readability */
  margin: 50px auto;
}

.coding-img,
.photography-img {
  width: 20%; /* Adjusted width for better positioning */
  margin: 0 30px;
}

.contact-me {
  width: 50%; /* Adjusted width for better alignment */
  margin: 40px auto 60px;
}

.btn {
  background: #3498DB;
  color: #ffffff;
}

.btn:hover {
  background: #2980B9;
}
