*{
    scroll-behavior: smooth;
    transition: 1s;
}

:root {
    --primary: #6244C5;
    --secondary: #FFC448;
    --light: #FAFAFB;
    --dark: #12141D;
}

a{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 1rem;
}

/*** Navbar ***/
nav{
    padding-top: 0 !important;
    padding-bottom: 0 !important; 
    padding-left: 3rem !important;
    padding-right: 3rem !important;
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}

.navbar .fixed-top {
    display: none;
    transition: .5s;
}

.navbar .navbar-nav .nav-link {
    padding: 20px 15px;
    color: var(--dark);
    font-size: 18px;
    font-weight: 600;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link  {
        padding: 10px 0;
    }
}

/*** Header ***/
#home {
    margin-bottom: 6rem;
}

#home img{
    border-radius: 10px;
}

.row{
    align-items: center;
}

.home{
    padding-top: 7rem;
    padding-bottom: 6rem;
}

/***About***/
#about{
    padding-top: 6rem;
    padding-bottom: 6rem;
    display: flex;
}

/*** Skills ***/
#skill{
    padding-top: 6rem;
    padding-bottom: 6rem;
    display: flex;
}

#skill .progress {
    height: 5px;
    border-radius: 5px;
}

#skill .progress .progress-bar {
    width: 0px;
    border-radius: 5px;
    transition: 3s;
}

#skill .nav-pills .nav-link {
    color: var(--dark);
}

#skill .nav-pills .nav-link.active {
    color: #FFFFFF;
}

#skill .tab-content hr {
    width: 30px;
}

/*** Project Portfolio ***/
#portfolio-flters li {
    display: inline-block;
    font-weight: 500;
    color: var(--dark);
    cursor: pointer;
    transition: .5s;
    border-bottom: 2px solid transparent;
}

#portfolio-flters li:hover,
#portfolio-flters li.active {
    color: var(--primary);
    border-color: var(--primary);
    cursor: pointer;
}

.portfolio-img {
    position: relative;
}

.portfolio-btn {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(98, 68, 197, .9);
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 30px;
    padding-bottom: 100px !important;
    opacity: 0;
    transition: .5s;
}

.portfolio-item:hover .portfolio-btn {
    opacity: 1;
    padding-bottom: 30px !important;
    cursor: pointer;
}
